.container-accionesTabla {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* segundo icono */
.container-accionesTabla img:nth-child(2) {
  width: 37px;
  height: 37px;
  cursor: pointer;
}

.container-accionesTabla img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

@media screen and (max-width:1024px){

  .container-accionesTabla{
    gap: 5px;
  }
  .container-accionesTabla img:nth-child(2) {
    width: 32px;
    height: 32px;
    
  }
  
  .container-accionesTabla img {
    width: 22px;
    height: 22px;
    
  }

}
