.container-acerca {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 3rem;
  cursor: default;
}

.container-acerca >div > img {
  width: 15rem;
}

.texto-principal {
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
}

.texto-footer {
  align-self: flex-start;
  margin: 0;
  margin-top: 2.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.texto-footer p {
  margin: 0;
  margin-top: 5px;
}

.colaboradores {
  display: flex;
  gap: 0.5rem;
}

.colaboradores img {
  width: 1.8rem;
  cursor: pointer;
}

@media screen and (max-width:1024px){

  .container-acerca{
    width: 80%;
    margin-bottom: 1rem;
  }
}



@media screen and (max-width:500px){
  .container-acerca{
    width: 93%;
    
  }
  .container-acerca > div > img {
    width: 12rem;
  }
 
  .texto-principal {
   
    font-size: 1rem;
   
  }
}