/* ------------------------- estilos predeterminados ------------------------ */
.button{
    width: 9.375rem;
    height: 2.18rem;
    border-radius: 13px;
    border: none;
    border: 1px solid var(--colorSecundario);
    background: none;
    font-weight: var(--textoBold);
    color: var(--colorSecundario);
    font-size: 16px;
    transition:.3s all;
    cursor: pointer;
   
}

   .button:hover{
    background-color: var(--colorSecundario);
    color: white;
  }

/* ------------------------- estilos personalizados ------------------------- */

.buttonIniciarSesion {
    display:flex;
    align-items: center;
    justify-content: center;
   }
   .buttonIniciarSesion img{
       transition: .3s all;
   }
   .buttonIniciarSesion:hover img{
    transform: translateX(10px);
    }