/* ------------------------- estilos prederteminados ------------------------ */

.container-campos {
  display: flex;
  position: relative;
}

.input {
  width: 100%;
  padding: 0.7rem;
  box-shadow: 0px 0px 3px 2px rgba(0, 231, 255, 0.3);
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 18px;
}

.label,.label_select {
  font-size: 18px;
  position: absolute;
  bottom: 9px;
  left: 14px;
  background: transparent;
  transition: 0.2s all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.label_select{
  left:8px;
  bottom:12px
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  transform: translateY(-123%) scale(0.8);
  margin-left: -0.2rem;
  padding: 0.1rem;
  background-color: rgb(255, 255, 255);
  color: var(--colorSecundario);
}

.decoracion{
  padding: 0.7rem;
  background-color: var(--colorSecundario);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: -2px 0px 3px 2px rgba(0, 231, 255, 0.3);
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
  width: 10px;
}
.decoracion p{
   margin:0;
   font-weight: 700;
   color: white;
   font-size: 18px;
   cursor: default;
}
.decoracion img{
   width:18px;
   position: absolute;
}
.labelWithDecoracion{
left: 28px;
font-size:16px
}
.inputWithDecoracion{
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}
.input:focus ~ .labelWithDecoracion,
.input:not(:placeholder-shown) ~ .labelWithDecoracion {
  transform: translateY(-130%);
  margin-left: 0.1rem;
}


@media screen and (max-width: 500px) {
  .input,.decoracion {
    padding: 0.5rem;
    font-size: 13px;
  }
  .label {
    font-size: 13px;
    bottom: 5px;
    max-width: 12ch;
  }
  .input:focus ~ .label,
  .input:not(:placeholder-shown) ~ .label {
    /* transform: translateY(-112%) scale(0.8); */
    margin-left: -6px;
    
  }
  .input:focus ~ .labelWithDecoracion,
  .input:not(:placeholder-shown) ~ .labelWithDecoracion {
  transform: translateY(-130%);
  margin-left: 0.1rem;
}
 

}

.toolTipError div {
  margin-top: 4px !important;
}
.input:focus ~ .labelError,
.input:not(:placeholder-shown) ~ .labelError {
  color: red;
}

/* ------------------------- estilos personalizados ------------------------- */
.inputSmall{
  width: 50%;
}

.labelSmall{
  left:10px
}
.inputSmall:focus ~ .labelSmall,
.inputSmall:not(:placeholder-shown) ~ .labelSmall {
  margin-left: -0.4rem;
}


@media screen and (max-width: 768px) {
  .input:focus ~ .labelLogin,
  .input:not(:placeholder-shown) ~ .labelLogin {
    background: transparent;
    font-weight: 700;
    transform: translateY(-154%) scale(0.9);
    color: var(--colorPrimario);
  }
  .input:focus ~ .labelError,
  .input:not(:placeholder-shown) ~ .labelError {
    color: red;
  }
}

@media screen and (max-width: 500px) {
  /* .input:focus ~ .labelLogin,
  .input:not(:placeholder-shown) ~ .labelLogin {
    transform: translateY(-154%) scale(0.9);
  }
  */
  .labelSmall {
   left:30px
  }
  .inputSmall:focus ~ .labelSmall,
.inputSmall:not(:placeholder-shown) ~ .labelSmall {
  margin-left: -0.4rem;
}
 
}