.container-principal {
  display: flex;
  padding-right: 1rem;
}

.contenido {
  
  background: white;
  margin-top: 3rem;
 min-height: 300px;
  border-radius: 10px;
  width: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
  position: relative;
}

.logo-layout{
  position: absolute;
  height: 3rem;
  top: -2.6rem;
  left: 2rem;
}
.container-buttonBurger{
  display: none;
  position: absolute;
  top: -38px;
    left: 9px;
    z-index: 1500;
}


@media screen and  (max-width:1024px){
 
 .container-principal{
  padding:0 .5rem ;
 }
 .contenido{
  height: 100%;
  padding-left: 0;
  
 
 }
 
  .logo-layout {
    display: none;
  }
  .container-buttonBurger{
    display: block;
  }
 
}