.container-login {
  max-width: 70%;
  height: 35.625rem;
  border-radius: 15px;
  background: var(--colorFondo);
  display: flex;
  margin: auto;
  margin-top: 1rem;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.25);
  will-change: animation;
}
/* animacion de fondo */
.container-login {
  animation: color-change-2x 3s linear infinite alternate both;
}

@keyframes color-change-2x {
  0% {
    background: rgba(0, 157, 255, 0.35);
  }
  100% {
    background: rgba(53, 47, 217, 0.45);
  }
}


/* ---------------------------- seccion izquierda --------------------------- */
.login-izquierdo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.encabezado-izquierdo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado-izquierdo p {
  font-size: 2rem;
  color: var(--colorPrimario);
  font-weight: var(--textoBold);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: default;
}

.encabezado-izquierdo .icono-logo {
  width: 23rem;
  height: 5rem;
  margin-top: -3.7rem;
}

.contenidoPrincipal {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* margin-left: -2rem; */
}

.contenidoPrincipal .imagen {
  width: 17.25rem;
  height: 9.56rem;
}

.contenidoPrincipal p {
  font-weight: var(--textoBold);
  font-size: var(--textoNormal);
  color: white;
}

.footerLogin {
  margin-left: 1rem;
  margin-top: 8rem;
  align-self: flex-start;
}

.footerLogin p {
  font-size: 16px;
  font-weight: var(--textoBold);
  color: white;
}

/* ---------------------------- seccion derecha --------------------------- */

.login-derecho {
  width: 50%;
  background: white;

  border-radius: 0px 15px 15px 0px;
  display: flex;
  flex-direction: column;
}

.encabezado-derecho {
  margin-top: 3rem;
}

.encabezado-derecho p {
  margin: 0;
  font-size: 2rem;
  font-weight: var(--textoBold);
  margin-left: 3rem;
}

.container-form {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 80%;
}

.container-form div[id="spinner"] {
  margin: auto;
  margin-top: 7rem;
}

/* formulario inicio */
.formLoginInicio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flechaIzquierda {
  cursor: pointer;
}

.container-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

/* formulario registro */

.formLoginRegistro {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: white;
}

.formLoginRegistro button[type="submit"] {
  margin: auto;
  margin-top: -0.2rem;
}

/* animaciones de entrada de formularios  */
.formLoginRegistro,
.formLoginInicio {
  animation: swing-in-top-fwd 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}


/* ------------------------------ media querys ------------------------------ */
@media screen and (max-width: 1200px) {
  .container-login {
    max-width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .container-login {
    max-width: 100%;
  }
}


@media screen and (max-width:768px){

  .container-login{
    flex-direction: column;
    box-shadow: none;
    align-items: center;
    animation: none;
    height: initial;
    background:transparent;
  }
/* seccion izquierda */
.login-izquierdo{
  width: initial;
}  
.contenidoPrincipal,.footerLogin{
    display: none;
  }
  /* seccion derecha */
  .login-derecho{
    background: transparent;
    align-items: center;
    width: 100%;
  }
  .encabezado-derecho {
    margin-top: 1rem;
    
  }
  
  .encabezado-derecho p {
   color:var(--textoColorBlanco);
   margin-left: 0;
  }
  .container-form {
    margin-top: 1rem;
    margin-left: 0;
    width:50%;
  
  }
  .container-buttons button {
    background-color: var(--colorSecundario);
    color: white;
  }
  
}

@media screen and (max-width:500px){
  .encabezado-izquierdo p {
    font-size: 1.3rem;
 
  }
  .encabezado-izquierdo .icono-logo {
    width: 11rem;
    height: 4rem;
    margin-top: -2.7rem;
 
  }
  .encabezado-derecho p {
   font-size: 1.3rem;
   }
.container-form{
  width: 63%;
}

.formLoginInicio{
  gap:1.5rem
}
.container-buttons{
  margin-top: 0;
  gap:1rem
}

}
