.container-tablaCliente{
    width: 98%;
     height:64vmin; 
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width:1024px){
    .container-tablaCliente{
        margin: auto;
        height:69vmin; 
        gap:.3rem
    }
    
}
@media screen and (max-width:700px){
    .container-tablaCliente{
        height:30.5rem; 
    }
}