.container-tablaCliente{
    width: 98%;
     height:70vh; 
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width:1024px){
    .container-tablaCliente{
        margin: auto;
        gap:.3rem;
    }
    
}
/* @media screen and (max-width:768px){
    .container-tablaCliente{
        height: 64vh;
    }
} */

/* @media screen and (max-width:500px){
    .container-tablaCliente{
        min-height:40vh; 
    }
}  */