@import './styles/normalice.css';
/* fuente */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

/* variables */
:root {
  --colorPrimario: #00e7ff;
  --colorSecundario: #009eff;
  --colorTerciario: rgb(54, 47, 217);
  --colorFondo: linear-gradient(188.53deg, #362fd9 51.96%, #009eff 96.41%);
  --textoBold: 700;
  --textoColorBlanco: white;
  --textoNormal: 1rem;
  --textoSmall: 10px;
  --breakPoint1:1024px;
 
}

/* media querys

sm:576px - telefonos

md:768px - table

lg:1024px- lapto

xl:1280px- desktop */


html,body {

  font-family: "Source Sans Pro", sans-serif;
  background: white;
  background: var(--colorFondo);
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x:hidden;
}

/* etiquetas img de iconos */
.iconos {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Estilos alerta de fecha en la DataTable */
.dateOrange{
 
   color:orange;
   font-weight: 600;
}
.dateRed{
   color:red;
   font-weight: 600;
}

.dateOrange::before,
.dateRed::before {
  content:'';
  background-image: url('/src/assets/alertaOrange.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -23px;
 
}
.dateRed::before{
  background-image: url('/src/assets/alertaRed.svg');
}

@media screen and (max-width:768px){

  .dateOrange::before,
  .dateRed::before {
    margin-left: -22px;
   
  }
}

