/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* variables */
:root{
--colorPrimario:rgb(0, 231, 255);
--colorSecundario:rgb(0, 158, 255);
--colorTerciario:rgb(54, 47, 217);
--colorFondo:linear-gradient(188.53deg, #362FD9 51.96%, #009EFF 96.41%);
--textoBold:700;
--textoColorBlanco:white;
--textoNormal:1rem;
--textoSmall:10px
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
   
    
}

/* etiquetas img de iconos */
.iconos{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
  }